# Dependencies
/node_modules

# Next.js build folder
/.next/

# The mistaken embedded repo folder
/Naakshatra-AI

# Other standard ignores
/out/
.env.local
.env.development.local
.env.production.local
/package-lock.json